.header {
  height: 100vh;
  padding-top: 50px;
  @include bg-img('img/milk.png');
  &__row {
    @extend .container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__menu-icon {
    @include breakpoint(tb) {
      display: none;
    }
  }
}
