.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  padding-left: 0;
  list-style: none;
  &__item {
    padding: 0 16px;
  }
  &__link {
    font-family: $main-font-family;
    font-size: $menu-font-size;
    font-weight: 700;
    color: $black-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}