.title-text {
  background-color: $bg_color_1;
  padding: 30px 0;
  &--bg-color {
    background-color: $black-color;
  }
  &__container {
    min-height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(xs) {
      min-height: 400px;
    }
    &--reverse {
      flex-direction: row-reverse;
    }
  }
  &__img {
    &-wrap {
      flex: 0 1 55%;
      max-width: 55%;
      @include breakpoint(xs) {
        flex: 0 1 100%;
        max-width: 100%;
      }
    }
    &-item {
      max-width: 100%;
    }
  }
  &__info {
    flex-basis: 45%;
    //    For IE:
    flex: 0 1 45%;
    max-width: 45%;
    //    For  Safari:
    flex-flow: wrap;
    @include breakpoint(xs) {
      flex: 0 1 100%;
      max-width: 100%;
    }
  }
  &__title {
    color: $white-color;
    font-size: rem(90);
    @include breakpoint(xs) {
      font-size: rem(50);
    }
  }
  &__text {
    color: $white-color;
  }
}
